################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/CodingTest/.vs/CodingTest/v17/Browse.VC.opendb
/CodingTest/.vs/CodingTest/v17/Browse.VC.db-wal
/CodingTest/.vs/CodingTest/v17/Browse.VC.db-shm
/CodingTest/.vs/CodingTest/v17/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/CodingTest/v17/.suo
/CodingTest/CodingTest.sln
/CodingTest/CodingTest/CodingTest.vcxproj.user
/CodingTest/CodingTest/CodingTest.vcxproj.filters
/CodingTest/CodingTest/CodingTest.vcxproj
/CodingTest/CodingTest
